<%- include('../../partials/head.ejs'); %>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="section-title mb-1">
                    <h2>Create a new account</h2>
                    <p class="text-danger">All fields are required</p>
                </div>
                <form method="post" action="" id="user-sign" autocomplete="off">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="username">Username (Must be unique)</label>
                            <input type="text" id="username" name="username" value="<%= value.username ? value.username : '' %>" class="form-control form-control-lg <%= errors.username ? 'is-invalid error' : '' %>" required autocomplete="new-username" />
                            <div class="invalid-feedback">
                                <%= errors.username ? errors.username : '' %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="email">Email (Must be unique)</label>
                            <input type="email" id="email" name="email" value="<%= value.email ? value.email : '' %>" class="form-control form-control-lg <%= errors.email ? 'is-invalid error' : '' %>" required />
                            <div class="invalid-feedback">
                                <%= errors.email ? errors.email : '' %>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" value="<%= value.password ? value.password : '' %>" class="form-control form-control-lg <%= errors.password ? 'is-invalid error' : '' %>" required />
                            <div class="invalid-feedback">
                                <%= errors.password ? errors.password : '' %>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control form-control-lg <%= errors.confirm_password ? 'is-invalid error' : '' %>" required />
                            <div class="invalid-feedback">
                                <%= errors.confirm_password ? errors.confirm_password : '' %>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Sign Up" class="btn btn-primary" />
                            <a href="/auth/login" class="ms-2">Already have an account? Login</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function(){
        $('#user-sign').validate({
            rules : {
                password : {
                    minlength : 6
                },
                confirm_password : {
                    minlength : 6,
                    equalTo : "#password"
                }
            }
        });
    });

</script>

<%- include('../../partials/footer.ejs'); %>


