<%- include('../../partials/head.ejs'); %>

<div class="site-section bg-light h-100">
    <div class="container">
        <h4>Create Profile</h4>
        <p class="text-danger">All fields are required</p>
        <form action="/dashboard/create-profile" method="post" id="create-profile" enctype="multipart/form-data">
            <div class="row">        
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="bt-form-control" id="username" value="<%= user.username %>" disabled>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="bt-form-control" id="email" value="<%= user.email %>" disabled>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username">Full Name</label>
                        <input type="text" class="bt-form-control <%= errors.name ? 'is-invalid error' : '' %>" id="name" name="name" placeholder="Enter Full Name" value="<%= value.name ? value.name : '' %>" required>
                        <div class="invalid-feedback">
                            <%= errors.name ? errors.name : '' %>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="title">Short Title</label>
                        <input type="text" class="bt-form-control <%= errors.title ? 'is-invalid error' : '' %>" id="title" name="title" placeholder="Enter Short Title" value="<%= value.title ? value.title : '' %>" required>
                        <div class="invalid-feedback">
                            <%= errors.title ? errors.title : '' %>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="bio">Short Bio</label>
                        <textarea class="bt-form-control <%= errors.bio ? 'is-invalid error' : '' %>" id="bio" name="bio" placeholder="Enter Short Bio" required ><%= value.bio ? value.bio : '' %></textarea>
                        <div class="invalid-feedback">
                            <%= errors.bio ? errors.bio : '' %>
                        </div>
                    </div>
                </div>
    
                <h5>Social Links</h5>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="url" class="bt-form-control <%= errors.facebook ? 'is-invalid error' : '' %>" id="facebook" name="facebook" placeholder="Enter Facebook Profile URL" value="<%= value.facebook ? value.facebook : '' %>" required>
                        <div class="invalid-feedback">
                            <%= errors.facebook ? errors.facebook : '' %>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="url" class="bt-form-control <%= errors.twitter ? 'is-invalid error' : '' %>" id="twitter" name="twitter" placeholder="Enter Twitter Profile URL" value="<%= value.twitter ? value.twitter : '' %>" required>
                        <div class="invalid-feedback">
                            <%= errors.github ? errors.github : '' %>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="url" class="bt-form-control <%= errors.github ? 'is-invalid error' : '' %>" id="github" name="github" placeholder="Enter Github Profile URL" value="<%= value.github ? value.github : '' %>" required>

                        <div class="invalid-feedback">
                            <%= errors.github ? errors.github : '' %>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="url" class="bt-form-control <%= errors.website ? 'is-invalid error' : '' %>" id="website" name="website" placeholder="Enter Website Profile URL" value="<%= value.website ? value.website : '' %>" required>

                        <div class="invalid-feedback">
                            <%= errors.website ? errors.website : '' %>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Profile Photo</label>
                        <input type="file" class="bt-form-control <%= errors.profile_photo ? 'is-invalid error' : '' %>" name="profile_photo" />

                        <div class="invalid-feedback">
                            <%= errors.profile_photo ? errors.profile_photo : '' %>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-12 mt-2">
                    <div class="form-group">
                        <button class="btn btn-success" type="submit" value="">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#create-profile').validate();
    });
</script>

<%- include('../../partials/footer.ejs'); %>


